.display-1 {
  font-size: 122px;
  line-height: 1;
}
.display-2 {
  font-size: 98px;
  line-height: 1;
}
.display-3 {
  font-size: 78px;
  line-height: 1;
}
.display-4 {
  font-size: 62px;
  line-height: 1;
  color: #d6d3d1;
}

.h1,
.typo h1 {
  font-size: 40px;
  line-height: 1;
}
.h2,
.typo h2 {
  font-size: 35px;
  line-height: 1;
  font-weight: 600;
}
.h3,
.typo h3 {
  font-size: 30px;
  line-height: 1;
}
.h4,
.typo h4 {
  font-size: 25px;
  line-height: 1;
}
.h5,
.typo h5 {
  font-size: 24px;
  line-height: 1;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
}
.text-lg {
  font-size: 24px;
}
.text-sm {
  font-size: 18px;
}
.text-xs {
  font-size: 16px;
}

.typo > * {
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
}

.typo h1 {
  margin-top: 4rem;
  margin-bottom: 4rem;
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.typo h2,
.typo h3,
.typo h4,
.typo h5,
.typo h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
