---
import BaseLayout from "../layouts/base.astro";

const newGameButton = `<img
  src="app/new-game.png"
  alt="Новая игра"
  onclick="linesGrid.init()"
  style="cursor: pointer"
/>`;
---

<BaseLayout
  title="Цветные Линии 98 (Color Lines 98)"
  description="Онлайн игра Линес 98, собери 5 шариков в линию. Бесплатно и без регистрации"
>
  <div class="page-center">
    <script src="https://ymatuhin.ru/ads/ads.js" defer></script>
    <div data-ads></div>
  </div>

  <div class="page-center game">
    <div id="right-column">
      <h1>Цветные линии 98 (Color Lines 98)</h1>
      <h2>Играть онлайн, бесплатно, без регистрации</h2>
      <div class="highscores">
        <br />
      </div>
      <h5 id="scores">0</h5>
      <div class="highscores">
        <br />
      </div>
      <div class="preview-box">
        <h6>
          <span id="next-turn">Следующий ход</span>
        </h6>
        <ul id="preview">
          <li>
            <br />
          </li>
          <li>
            <br />
          </li>
          <li>
            <br />
          </li>
        </ul>
      </div>
      <div class="description">
        <p>
          Цель игры — собрать как можно больше линий из пяти и более шариков
          одного цвета.
        </p>
        <p>
          Все ходы сохраняются, и вы сможете продолжить игру, даже если закроете
          окно.
        </p>
      </div>
      <div class="new-game" set:html={newGameButton} />
      <br />
      <br />
    </div>

    <div id="game-field">
      <div id="grid">
        <br />
      </div>
      <div id="balls">
        <br />
      </div>
    </div>
  </div>

  <div class="page-center">
    <div data-ads></div>

    <div class="projects">
      <h3>Линии 98 / Линес 98</h3>
      <p>
        Цветные линии, или чаще всего « <strong>Шарики</strong>» — это
        логическая игра 1992 года. На квадратном поле 9 на 9 клеток программа
        случайно расставляет 3 шарика разных цветов (всего 7 цветов). За один
        ход можно передвинуть только один шарик. Когда вы собирете 5 и более
        шариков в ряд или по диагонали они исчезнут. Чем больше шариков исчезнет
        за раз, тем больше очков вы получите.
      </p>
    </div>

    <div class="projects">
      <h4>lines98.ru</h4>
      линес 98 шарики линес lines.98 цветные линии шарики играть онлайн 98 игра бесплатно
      5 шариков в линию старая версия старые 5 шаров социальные игры строить цветные
      линии в ряд color lines шарики color lines игра color lines colored lines +for
      +the brain windows macos 1992 lines98 линия lines 98 играть бесплатно онлайн
      игра игры шарики линии бесплатная на весь экран color online без регистрации
    </div>
  </div>

  <script src="/app/base.js" is:inline></script>
  <script src="/app/main.js" is:inline></script>
  <script is:inline>
  linesGrid.init();
  </script>
</BaseLayout>
