.grid {
  border-spacing: 4px;
  border-collapse: separate;
}

.grid td {
  min-width: 64px;
  height: 64px;
  text-align: center;
  line-height: 64px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

.grid td.active {
  background: rgba(255, 255, 255, 0.2);
}

.next-balls {
  display: flex;
  list-style-type: none;
}

.ball {
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  position: static;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.1),
    inset -8px -8px 16px 0 rgba(0, 0, 0, 0.25);
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out,
    background 0.2s ease-in-out;
  opacity: 1;
  transform: scale(1);
}

.ball.moving {
  transform: scale(0.33);
  transition: none;
}

.ball.invisible {
  opacity: 0;
  transform: scale(0);
}

.ball.aqua {
  background: #06b6d4;
}
.ball.blue {
  background: #3b82f6;
}
.ball.green {
  background: #22c55e;
}
.ball.pink {
  background: #ec4899;
}
.ball.red {
  background: #f97316;
}
.ball.violet {
  background: #8b5cf6;
}
.ball.yellow {
  background: #eab308;
}

.shake {
  animation: tilt-shaking 0.2s ease-in-out both;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
