<div class="hero">
  <p class="kicker">Color Lines</p>
  <h1 class="title display-4">Цветные Линии 98</h1>
  <h2 class="text text-lg" }>
    Головоломка, где нужно соединять 5 или более одноцветных шаров для их
    удаления и заработка очков
  </h2>
</div>

<style>
  .hero {
    margin-top: 4rem;
    margin-bottom: 4rem;
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .kicker {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #3b82f6;
  }
  .title {
    letter-spacing: 1px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: -4px;
  }
  .text {
    color: #a8a29e;
    line-height: 1.3;
  }
</style>
